<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MADE Tommy Soft Black Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Black PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Bold Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Bold PERSONAL USE.otf</string>
		<string>MADE Tommy Soft ExtraBold Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft ExtraBold PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Light Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Light PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Medium Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Medium PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Regular Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Regular PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Thin Outline PERSONAL USE.otf</string>
		<string>MADE Tommy Soft Thin PERSONAL USE.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Home</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
